--find-links=https://girder.github.io/large_image_wheels GDAL
geopandas==0.9.0
plotly
streamlit==1.11.0
IO
leafmap
streamlit-bokeh-events
streamlit-folium
streamlit-keplergl
# git+https://github.com/giswqs/leafmap
# git+https://github.com/giswqs/geemap
earthengine-api==0.1.318
folium==0.12.1.post1
geemap==0.16.4
pandas==1.4.3
shapely==1.7.1
requests==2.28.1
pydeck==0.7.1